@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

body {
  margin: 5px;
  padding: 0;
  font-family: 'Your Preferred Font', sans-serif;
  background-image: url('img/background_3.avif');
  background-size: cover;
  background-color: aliceblue;
  background-attachment: fixed;
}

/* Header section start */
.container, .menu_link {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

nav {
  background: #fff;
  border-radius: 9px;
  padding: 5px;
  box-shadow: 0 5px 20px #00000066;
}

nav .menu_link li {
  display: inline-block;
  list-style: none;
  font-size: 1.2rem;
  padding: 0 8px;
  margin: 0 7px;
  cursor: pointer;
  position: relative;
}

nav .menu_link li:after {
  content: '';
  width: 0;
  height: 5px;
  background: #2192ff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.6s;
}

nav .menu_link li:hover::after {
  width: 100%;
}

.menu {
  color: black;
  text-decoration: none;
}

.portfolio {
  font-weight: bold;
  color: #c21921;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  body {
    background-size: auto;
  }

  nav {
    padding: 2px;
  }

  nav .menu_link li {
    font-size: 0.8rem;
    padding: 0 2px;
    margin: 0 3px;
  }

  nav .menu_link li:after {
    height: 1.5px;
    transition: 0.5s;
  }
}
/* Header section end */

/* Home section start */
.home-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
}

.left-section img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: -40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

.right-section {
  text-align: left;
}

.right-section h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.right-section p {
  font-size: 1.2em;
  color: #888;
}

.btn-cv {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #c21921;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.social-icons {
  margin-top: 40px;
}

.social-icons a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.social-icons img {
  width: 36px;
}

@media (max-width: 768px) {
  .home-section {
    flex-direction: column;
    text-align: center;
    height: 350px;
  }

  .left-section img {
    width: 150px;
    height: 150px;
    margin-bottom: 1px;
  }

  .right-section {
    margin-top: 20px;
  }
}
/* Home section end */

/* About section start */
.about-section {
  padding-top: 120px;
  max-width: 1080px;
  margin: 30px auto;
  display: grid;
  gap: 40px;
  grid-template-columns: 3fr;
}

.about-content {
  background-color: honeydew;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.star-rating {
  width: auto;
  height: 18px;
  padding-left: 150px;
  padding-top: 5px;
}

.about-content p {
  font-size: 16px;
}

.about-me {
  border-bottom: 2px solid #db3434;
  padding-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .about-section {
    padding-top: 100px;
    margin: 10px 20px;
    grid-template-columns: 2fr;
  }

  .about-box {
    grid-template-columns: 2fr;
  }

  .star-rating {
    width: auto;
    height: 15px;
  }

  .about-content p {
    font-size: 14px;
  }
}

/* About section end */


/* Skill section start */
#skills {
  padding-top: 60px;
  padding-left: 150px;
  max-width: 1500px;
  flex-wrap: wrap;
  display: flex;
}

.skill-card-1, .skill-card-2, .skill-card-3, .skill-card-4, .skill-card-5 {
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 180px;
  height: 160px;
  margin: 40px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
}

.skill-info {
  flex: 2;
}

.skill-info h3 {
  color: #333;
}

.skill-info p {
  color: #666;
}
.skill-progress {
  flex: 1;
}

.progress-bar {
  height: 10px;
  background-color: #4CAF50;
  width: 10%;
  border-radius: 8px;
  transition: width 1s ease-in-out;
}

#skills h1 {
  padding-left: 60px;
  text-align: left;
  width: 80%;
  border-bottom: 2px solid #db3434;
  padding-bottom: 8px;
}

@media (max-width: 768px) {
  .skill-card-1, .skill-card-2, .skill-card-3, .skill-card-4, .skill-card-5 {
    width: 165px;
    height: 135px;
    margin: 10px;
  }

  #skills {
    padding-left: 10px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  #skills h1 {
    padding-left: 10px;
    text-align: left;
    width: 95%;
    border-bottom: 2px solid #db3434;
    padding-bottom: 8px;
  }
}
/* Skill section end */

/* Intern section start */
.port-title {
  text-align: center;
  color: #007bff;
}

.experience {
  margin: 1cm 0 1cm 1.4cm;
  padding: 10px 65px;
  width: 25cm;
  background-color: honeydew;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.experience:hover {
  transform: scale(1.05);
}

.intern-title-2 {
  color: #6c757d;
  font-style: italic;
}

.experience-date {
  color: #6c757d;
  margin-bottom: 10px;
}

.experience-description {
  color: #495057;
}
/* Intern section end */

/* Project section start */

.port2-title {
  text-align: center;
  color: #007bff;
}

#projects {
  width: 29cm;
  display: flex;
  padding: 20px;
}

.project {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px 0 2cm 40px ;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.project-details {
  margin-bottom: 20px;
}

.project-title {
  font-size: 20px;
  color: #c21921;
  margin-bottom: 10px;
}

.project-date {
  color: #555;
  margin-bottom: 5px;
}

.project-description {
  color: #777;
  margin-bottom: 10px;
}

.project-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #c21921;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.project-link:hover {
  background-color: #0056b3;
}

/* Project sec end */

/* footer sec start */

footer {
  background-color: #535252f5;
  color: #fff;
  margin-right: 0;
  padding: 0 470px;
  text-align:center;

}
.contact-container {
  text-align: center;
  color: white;
  font-size: large;
  padding-bottom: 1.5cm;
  font-weight: 520;
  
}

footer p {
  margin: 10px 0;
}

.Email {
  color: #c21921;
}

/* footer sec end */
